
body {
    background-color: #000000;
    background-size: 100% 100%;
}
.page {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.click {
    top:50%;
    left:50%;
    color:#fff;
    position:absolute;
    transform:translate(-50%,-50%);
}

.display_page2 {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:none;
    background-image: url("background.gif");
    background-size: 100%;
}
#click2 {
    top:50%;
    left:50%;
    color:#fff;
    position:absolute;
    transform:translate(-50%,-50%);
    display: none;
}
.github {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:#fff;
}
.Logo {
    font-family: 'Finlandica', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}
